.FormContainer , h1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px;
	font-weight: bold;
}

.Textfield {
	width: 400px;
}

.btnASendAction {
	background: rgb(14, 16, 108);
	background: radial-gradient(
		circle,
		rgb(21, 22, 121) 77%,
		rgb(34, 66, 172) 100%
	);
	color: white;
	height: 54px;
	width: 400px;
	border-radius: 8px;
	font-size: 18px;
	transition: background, color 0.5s;
	outline: #09043d;
	border: none;
	margin: 10px;
}

.btnASendAction:hover {
	color: rgb(255, 255, 255);
	background: rgb(0, 22, 87);
	background: radial-gradient(circle, rgb(10, 0, 65) 77%, rgb(12, 27, 112) 100%);
}
